<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSideNav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a [routerLink]="[ '/' ]">NG Fitness</a>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="end start" fxHide.xs>
        <ul fxLayout="row" class="navigation-items" fxLayoutGap="10px">
            <li *ngIf="!isAuth" ><a [routerLink]="[ '/signup' ]">SignUp</a></li>
            <li *ngIf="!isAuth"><a [routerLink]="[ '/login' ]">Login</a></li>
            <li *ngIf="isAuth"><a [routerLink]="[ '/trainings' ]">Trainings</a></li>
            <li *ngIf="isAuth"><a style="cursor:pointer" (click)="onLogout()">Logout</a></li>
        </ul>
    </div>
</mat-toolbar>